{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>praveen_hair_salon</title>
    <link rel="stylesheet" href="{% static 'phs.css' %}">

</head>
<body>
    <section >
        <div class="hero-section">
                       <!-- Overlay -->
            <div class="overlay"></div>

            <!-- Navbar -->
            <header class="navbar">

                <nav>

                <ul class="nav-links">

                    <li><a href="#">Home</a></li>

                    <li><a href="#">About Us</a></li>

                    <li class="active">
                    <a href="#">Market Sectors</a>
                    </li>

                    <li><a href="#">Projects</a></li>

                    <li><a href="#">News</a></li>

                    <li><a href="#">Shop</a></li>

                    <li><a href="#">Contact Us</a></li>

                    <li class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </li>

                </ul>

                </nav>

                <button class="quote-btn">Get A Quote</button>

            </header>

            <!-- Hero Content -->
            <div class="hero-content">

                <h1>Construction Products</h1>

                <div class="breadcrumb">
                <a href="#">Home</a>
                <span><i class="fa-solid fa-angle-right"></i></span>

                <a href="#">Market Sectors</a>
                <span><i class="fa-solid fa-angle-right"></i></span>

                <a href="#" class="current">Construction Products</a>
                </div>

            </div>

        </div>

 

</section>

  <!-- FOOTER SECTION -->
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-box">
        <h2>Praveen Hair Salon</h2>
        <p>Praveen Hair Salon provides professional hair cutting, beard styling, hair spa, facial, grooming, and modern salon services with comfort, hygiene, and customer satisfaction.</p>
      </div>
      <div class="footer-box">
        <h3>Our Services</h3>
        <ul>
          <li>Hair Cutting</li>
          <li>Beard Styling</li>
          <li>Hair Spa</li>
          <li>Facial & Cleanup</li>
          <li>Hair Coloring</li>
          <li>Massage</li>
        </ul>
      </div>
      <div class="footer-box">
        <h3>Contact Info</h3>
        <p>Phone: +91 98765 43210</p>
        <p>Address: Jodhpur, Rajasthan</p>
        <p>Email: praveensalon@gmail.com</p>
      </div>
      <div class="footer-box">
        <h3>Opening Hours</h3>
        <p>Monday - Sunday</p>
        <p>9:00 AM - 10:00 PM</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2026 Praveen Hair Salon | All Rights Reserved</p>
    </div>
  </footer>
    
</body>
</html>