{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage2</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel='stylesheet' href='https://flaticon.com'>

</head>
<body>
    <header class="header">
        <div class="header1">
            <div class="auto-container">
                <div class="header11" >
                    <ul>
                        <li>
                            <div>
                                <span class="newyork">Newyork
                                    <i class="fa fa-utility fa-semibold fa-angle-down"></i>                                </i>
                                </span> 
                            </div>
                        </li>
                        <li>
                            <div class="location">
                                <i class=" fa fa-utility-fill fa-semibold fa-location-dot">
                                </i>
                                 <span>327 Nw 24th street rd 10475</span>
                            </div>
                        </li>
                        <li>
                            <div class="follow-us">
                                <span>Follow Us: 
                                    <a href="#" style="text-decoration: none;">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a href="#" style="text-decoration: none;">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                    <a href="#" style="text-decoration: none;">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                    <a href="#" style="text-decoration: none;">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                    <a href="#" style="text-decoration: none;">
                                        <i class="fa-brands fa-pinterest"></i>
                                    </a>
                                    <a href="#" style="text-decoration: none;">
                                        <i class="fa-solid fa-rss"></i>
                                    </a>
                                </span>     
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="{% static 'images/image67.png' %}" alt="">
                                <span class="english">
                                    English
                                </span>     
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    <div class="header2">
        <div class="auto-container">
            <div class="header21">
                <div >
                    <a href="#" style="text-decoration: none;">
                        <img src="{% static 'images/image60.png' %}" alt="">
                    </a>
                </div>
                <div class="timing-detail">
                    <div>
                        <i class="fa fa-light fa-clock "></i>
                    </div>
                    <div class="timing">
                        <div>
                            <strong>Mon - Sat:</strong>
                                9am to 7pm
                        </div>
                        <div>
                            <span>Sunday: Closed</span>
                        </div>

                    </div>
                </div>
                <div class="number-detail">
                    <div>
                        <i class="fa fa-sharp fa-light fa-phone"></i>
                    </div>
                    <div class="number">
                        <div>
                            <strong>Office:</strong>
                                +31 888 56 789
                        </div>
                        <div>
                            <strong>Factory:</strong>
                                555-123-4567
                        </div>

                    </div>
                </div>
                <div class="mail-detail">
                    <div>
                        <i class="fa fa-regular fa-envelope"></i>
                    </div>
                    <div class="mail">
                        <div>
                            <strong>Mail us at</strong>
                        </div>
                        <div>
                            info@gmail.com
                        </div>

                    </div>
                </div>

            </div>
        </div>   
    </div>
    <div class="auto-container">
        <div class="inner-header">
            <ul>
                <li>
                    <a href="#"  class="home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Market Sectors
                    </a>
                </li>
                <li>
                    <a href="#">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="#">
                        News
                    </a>
                </li>
                <li>
                    <a href="#">
                        Shop
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact Us
                    </a>
                </li>
                <li>
                    <div class="slide">
                        <a href="#" style="text-decoration: none; ">
                            <i class="fa fa-solid fa-arrow-right" ></i>
                            Get a Quote
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="fa-solid fa-cart-arrow-down" style="text-transform: none;"></i>
                        <i class="fa  fa-solid fa-magnifying-glass" ></i>
                            
                    </div>
                </li>
            </ul>
        </div> 
    </div>
</header>
<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <span class="tagline">
            <span class="line"></span>
            Superior & Best Quality Service
        </span>

        <h1>
            LEADER IN <br> AERO SPACING
        </h1>

        <p>
            We are one of leading company in manufacturing and
            chemical products makes investments.
        </p>

        <div class="hero-buttons">
            <a href="#" class="btn-primary">Read More</a>
            <a href="#" class="btn-link">→ About Company</a>
        </div>
    </div>
</section>
<section class="services-section">
    <div class="container">
        
        <span class="sub-title">OUR SERVICES</span>
        
        <h2>Our Market Sectors</h2>
        
        <p>
            You will find yourself working in a true partnership that results in an incredible 
            experience, and an end product that is the best.
        </p>
    </div>
        <div class="card-container">
        <div class="card">
            <div class="icon-container">
                <img src="{% static 'images/image70.png' %}" alt="" class="img5">
            </div>
            <h2 class="card-title">Construction products</h2>
            <div class="image-container">
                <img src="{% static 'images/image71.png' %}" alt="">
            </div>
            
            <p class="card-description">Encounter consequence that are painful again is there desires.</p>
        </div>

        <div class="card">
            <div class="icon-container">
                <img src="{% static 'images/image72.png' %}" alt="">
            </div>
            <h2 class="card-title">Construction products</h2>
            <div class="image-container">
                <img src="{% static 'images/image73.png' %}" alt="">
            </div>
            
            <p class="card-description">Encounter consequence that are painful again is there desires.</p>
        </div>

        <div class="card">
            <div class="icon-container">
                <img src="{% static 'images/image75.png' %}" alt="">
            </div>
            <h2 class="card-title">Construction products</h2>
            <div class="image-container">
                <img src="{% static 'images/image74.png' %}" alt="">
            </div>
            
            <p class="card-description">Encounter consequence that are painful again is there desires.</p>
        </div>

    </div>
    <div class="Quality-container">
        <div  class="Quality">
            <h3>Quality, Comfort & Peace of Mind. </h3>
            <a href="#">
               <i class="fa-solid fa-arrow-right"></i>
                View All Services
            </a>
        </div>
    </div>
</section>
<div class="about-section">
    
    <!-- LEFT BOX (IMAGE) -->
    <div  class="about-image">
        <div>
            <img src="{% static 'images/image1.png' %}" alt="" class="img6">
        </div>
    </div>

    <!-- RIGHT BOX (CONTENT) -->
   <div class="about-content">
        <div class="about-content">
            <span class="tag">COMPANY</span>
            <h2>About Our Company</h2>

            <h3>Our Mission</h3>
            <p>
                Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and we will give you a complete account of the system, and expound the actual teachings.
            </p>

            <h3>Our Vision</h3>
            <ul>
                <li>Desires to obtain pain of itself expound</li>
                <li>Take a trivial example, which of us undertakes works</li>
                <li>Chooses to enjoy a pleasure annoying results</li>
            </ul>
            <span class="more-btn">            
                <a href="#" >
                <i class="fa-solid fa-arrow-right"></i>
                    More About Us
            </a></span>

        </div>
   </div>

</div>
<!-- <section >
    <div class="our-work-container">
    <div class="auto-container">
        <div class="our-work">
            <h4>Our Works</h4>
        </div>
        <div class="latest-project">
            <div >
                <h2>Latest From Projects</h2>
            </div>
            <div class="latest-project-text">
                You will find yourself working in a true partnership that results in an incredible experience.
            </div>
        </div>

    </div>
    <div class="latest-card-img-card-conatiner">
        <div class="latest-card-img-card">
            <img src="{% static 'images/image2.png' %}" alt="" class="img7">
        </div>
        <div class="latest-card-img-card">
            <img src="{% static 'images/image2.png' %}" alt="" class="img7">
        </div>
        <div class="latest-card-img-card">
            <img src="{% static 'images/image2.png' %}" alt="" class="img7">
        </div>
    </div>
    <div class="testimonial-header">
        <div class="container">
            <span class="sub-title-centered">TESTIMONIALS</span>
            
            <h2>Words From Our Customers</h2>
            
            <p class="header-desc">
                You will find yourself working in a true partnership that results in an incredible 
                <br>
                experience, and an end product that is the best.
            </p>
        </div>
    </div>
    <div class="card-row-wrapper-container" >
        <div class="card-row-wrapper">
            <div class="service-card">
                <div class="card-image-box">
            <img src="{% static 'images/image3.png' %}" alt="" class="img8">
                    <div class="card-overlay">
                        <a href="#" class="plus-icon"></a>
                    </div>
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        <p>“Prevents our being blame done what we likes products every pleasures too be change the field”.</p>
                    </div>
                </div>
                <div class="author-box">
                    <div class="author-img">
                        <img src="{% static 'images/image4.png' %}" alt="" class="img8">
                    </div>
                    <div class="author-info">
                        <h4>Isaias Gencarelli</h4>
                        <p>Manger, Nalashaa</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row-wrapper">
            <div class="service-card">
                <div class="card-image-box">
            <img src="{% static 'images/image3.png' %}" alt="" class="img8">
                    <div class="card-overlay">
                        <a href="#" class="plus-icon"></a>
                    </div>
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        <p>“Prevents our being blame done what we likes products every pleasures too be change the field”.</p>
                    </div>
                </div>
                <div class="author-box">
                    <div class="author-img">
                        <img src="{% static 'images/image4.png' %}" alt="" class="img8">
                    </div>
                    <div class="author-info">
                        <h4>Isaias Gencarelli</h4>
                        <p>Manger, Nalashaa</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row-wrapper">
            <div class="service-card">
                <div class="card-image-box">
            <img src="{% static 'images/image3.png' %}" alt="" class="img8">
                    <div class="card-overlay">
                        <a href="#" class="plus-icon"></a>
                    </div>
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        <p>“Prevents our being blame done what we likes products every pleasures too be change the field”.</p>
                    </div>
                </div>
                <div class="author-box">
                    <div class="author-img">
                        <img src="{% static 'images/image4.png' %}" alt="" class="img8">
                    </div>
                    <div class="author-info">
                        <h4>Isaias Gencarelli</h4>
                        <p>Manger, Nalashaa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-work-container2" >
        <div class="auto-container">
            <div class="our-work2">
                <h4>Fun Facts</h4>
            </div>
            <div class="latest-project2">
                <div >
                    <h2>Our Achivements</h2>
                </div>
                <div class="latest-project-text2">
                    You will find yourself working in a true partnership that results in
                    an incredible experience and the best.             
                </div>
            </div>
            <div class="card-section-container2">
            <div class="card-section">
                <div class="location-card">
                    <h1>148<span>+</span></h1>
                    <h2>Branches Worldwide</h2>
                    <div class="line"></div>
                    <a href="#">
                        Our Locations
                        <span>→</span>
                    </a>
                </div>
            </div>
            <div class="card-section">
                <div class="location-card">
                    <h1>3.5<span>+</span></h1>
                    <h2>Engineers & Workers</h2>
                    <div class="line"></div>
                    <a href="#">
                        Meet Team 
                        <span>→</span>
                    </a>
                </div>
            </div>
            <div class="card-section">
                <div class="location-card">
                    <h1>2.8<span>+</span></h1>
                    <h2>Sucessful Projects</h2>
                    <div class="line"></div>
                    <a href="#">
                        Case Studies
                        <span>→</span>
                    </a>
                </div>
            </div>
            <div class="card-section">
                <div class="location-card">
                    <h1>95<span>%</span></h1>
                    <h2>Happy Customers</h2>
                    <div class="line"></div>
                    <a href="#">
                       Testimonials
                        <span>→</span>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</section> -->
<section >
    <div class="updates-container">
        <div class="auto-container2">
            <div class="updates">
                <h4>
                    News & Updates
                </h4>
                <h2>
                    Latest From Blog
                </h2>
            </div>        
            <div class="blog-card-container" >
                <div class="blog-card">

                <!-- IMAGE -->
                <div class="blog-image">
                    <img src="{% static 'images/image1.png' %}" alt="" >
                </div>

                <!-- CONTENT -->
                <div class="blog-content">

                    <div class="top-line"></div>

                    <p class="category">
                        TECHNOLOGY <span>, JUNE 06, 2019</span>
                    </p>

                    <h2>
                        Top ten reason why should choose our industry.
                    </h2>

                    <!-- FOOTER -->
                    <div class="blog-footer">

                        <div class="author">
                            <img src="https://i.pravatar.cc/40" alt="">
                            <span>ALICIA METTE</span>
                        </div>
                        
                        <a href="#" class="read-btn">
                            <span class="read-text">Read More</span>
                            <span class="arrow">→</span>
                        </a>
                    </div>
                </div>
                <div class="more-news">
                    <p>More News</p>

                </div>
            </div>
            <div class="blog-card">

                <!-- IMAGE -->
                <div class="blog-image">
                    <img src="{% static 'images/image1.png' %}" alt="" >
                </div>

                <!-- CONTENT -->
                <div class="blog-content">

                    <div class="top-line"></div>

                    <p class="category">
                        TECHNOLOGY <span>, JUNE 06, 2019</span>
                    </p>

                    <h2>
                        Top ten reason why should choose our industry.
                    </h2>

                    <!-- FOOTER -->
                    <div class="blog-footer">

                        <div class="author">
                            <img src="https://i.pravatar.cc/40" alt="">
                            <span>ALICIA METTE</span>
                        </div>
                        
                        <a href="#" class="read-btn">
                            <span class="read-text">Read More</span>
                            <span class="arrow">→</span>
                        </a>
                    </div>
                </div>
            </div>
                <div class="newsletter-card">

                    <div class="icon-box">
                    <i class="fa-regular fa-envelope-open"></i>
                    </div>

                    <h2>NewsLetter</h2>

                    <p>
                    Subscribe us and get latest news and
                    updates in your inbox.
                    </p>

                    <div class="input-box-container2">
                        <div class="input-box">
                            <input type="text" placeholder="Name">
                        </div>

                        <div class="input-box">
                            <input type="email" placeholder="Email Address">
                        </div>

                        <button class="subscribe-btn">
                            Subscribe Us
                        </button>
                    </div>
                </div>            
        </div>
       </div>
    </div>
</section>
<section>
    <div class="contact-wrapper">

        <div class="contact-container">
            
            <div class="contact-left">

                <img src="https://images.unsplash.com/photo-1504307651254-35680f356dfd?q=80&w=1200&auto=format&fit=crop" alt="">

                <div class="contact-overlay"></div>

                <div class="contact-content">

                    <h2>Quick Contact</h2>

                    <div class="yellow-line"></div>

                    <div class="contact-item">

                        <i class="fa-solid fa-location-dot"></i>

                        <div class="contact-text">
                            <h3>Big Smart Stareet, 2nd Cross</h3>
                            <p>Newyork, USA 1002.</p>
                        </div>

                    </div>

                    <div class="contact-item">

                        <i class="fa-solid fa-phone"></i>

                        <div class="contact-text2">
                            <h3>Call Us On</h3>
                            <p>1-800-784-533 & 544</p>
                        </div>

                    </div>

                    <div class="contact-item">

                        <i class="fa-regular fa-paper-plane"></i>

                        <div class="contact-text">
                            <h3>Mail Us at</h3>
                            <p>Machinery@support.com</p>
                        </div>

                    </div>

                </div>

            </div>

            <!-- RIGHT BOX -->

            <div class="contact-right">

                <p>
                    For Business: For Business inquiry fill our feedback form and
                    Troll Free Number -(+91) 00-700-6202, our team will help you
                    with in 24 hours.
                </p>

                <div class="form-grid">
                    <div>
                        <div class="input-box">
                        <input type="text" placeholder="Your Name">
                            
                        <div class="input-box">
                            <input type="email" placeholder="Email Address">
                        </div>
                        <div class="input-box">
                            <select>
                                <option>Select Service</option>
                                <option>Construction</option>
                                <option>Industry</option>
                                <option>Engineering</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div>
                    <div class="input-box">
                        <textarea placeholder="Massage"></textarea>
                    </div>

                    <div class="input-box">
                        <button class="submit-btn">
                            Submit Now
                        </button>
                    </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- LEFT BOX -->

    </div>

</section>
<section>
    <div class="partners-section">
            <p class="sub-title">OUR PARTNERS</p>
            <h2>Who Trusted Our Service</h2>

            <div class="partners-wrapper">

            <!-- Left Arrow -->
            <button class="arrow-btn">
                <i class="fa-solid fa-angle-left"></i>
            </button>

            <!-- Logos -->
            <div class="partners-container">

                <div class="partner-box">
                <img src="https://st.ourhtmldemo.com/new/Machinery/images/clients/2-2.png" alt="logo">
                
                </div>

                <div class="partner-box">
                <img src="https://st.ourhtmldemo.com/new/Machinery/images/clients/2-3.png" alt="logo">
                
                </div>

                <div class="partner-box">
                <img src="https://st.ourhtmldemo.com/new/Machinery/images/clients/2-4.png" alt="logo">
                
                </div>

                <div class="partner-box">
                <img src="https://st.ourhtmldemo.com/new/Machinery/images/clients/2-1.png" alt="logo">
                
                </div>

            </div>

            <!-- Right Arrow -->
            <button class="arrow-btn">
                <i class="fa fa-solid fa-angle-right"></i>
            </button>

            </div>

            <!-- Dots -->
            <div class="dots">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>
</body>
</html>
