{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage3</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
     <div class="top-header">

    <div class="top-left">
      <i class="fa-regular fa-clock"></i>
      <span>Mon - Fri: 09:00 - 18:00</span>
    </div>

    <div class="top-center">
      <span>Stay Connected :</span>

      <div class="social-icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-pinterest-p"></i>
        <i class="fa-solid fa-rss"></i>
      </div>
    </div>

    <div class="top-right">

      <button>Buy Now</button>

      <div class="location">
        <i class="fa-solid fa-globe"></i>
        <span>California</span>
        <i class="fa-solid fa-angle-down"></i>
      </div>

    </div>

  </div>

  <!-- Main Header -->
  <div class="main-header">

    <!-- Logo -->
    <div class="logo-box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHRfNQv3PcYX7Qgp8RMgl7UtlVTNML0eWnZg&s" alt="">
    </div>
    <!-- Address -->
    <div class="info-box2">

      <div class="info-icon">
        <i class="fa-regular fa-map"></i>
      </div>

      <div class="info-text">
        <p>13, Big Smart Str, 2nd Cross</p>
        <h4>Newyork, USA 1002.</h4>
      </div>

    </div>

    <!-- Contact -->
    <div class="info-box">

      <div class="info-icon">
        <i class="fa-regular fa-envelope"></i>
      </div>

      <div class="info-text">
        <p>1-800-784-533 & 544</p>
        <h4>Machinery@Support.Com</h4>
      </div>
    </div>
  </div>
</header>

<section >
    <div class="hero-section">
        <!-- Overlay -->
        <div class="overlay"></div>
        <!-- Navbar -->
        <header class="navbar">
            <nav>

            <ul class="nav-links">

                <li><a href="#">Home</a></li>

                <li><a href="#">About Us</a></li>

                <li class="active">
                <a href="#">Market Sectors</a>
                </li>

                <li><a href="#">Projects</a></li>

                <li><a href="#">News</a></li>

                <li><a href="#">Shop</a></li>

                <li><a href="#">Contact Us</a></li>

                <li class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                </li>

            </ul>

            </nav>

            <button class="quote-btn">Get A Quote</button>

        </header>

        <!-- Hero Content -->
        <div class="hero-content">

            <h1>Construction Products</h1>

            <div class="breadcrumb">
            <a href="#">Home</a>
            <span><i class="fa-solid fa-angle-right"></i></span>

            <a href="#">Market Sectors</a>
            <span><i class="fa-solid fa-angle-right"></i></span>

            <a href="#" class="current">Construction Products</a>
            </div>

        </div>
  </div>
</section>

  <!-- FOOTER SECTION -->
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-box">
        <h2>Praveen Hair Salon</h2>
        <p>Praveen Hair Salon provides professional hair cutting, beard styling, hair spa, facial, grooming, and modern salon services with comfort, hygiene, and customer satisfaction.</p>
      </div>
      <div class="footer-box">
        <h3>Our Services</h3>
        <ul>
          <li>Hair Cutting</li>
          <li>Beard Styling</li>
          <li>Hair Spa</li>
          <li>Facial & Cleanup</li>
          <li>Hair Coloring</li>
          <li>Massage</li>
        </ul>
      </div>
      <div class="footer-box">
        <h3>Contact Info</h3>
        <p>Phone: +91 98765 43210</p>
        <p>Address: Jodhpur, Rajasthan</p>
        <p>Email: praveensalon@gmail.com</p>
      </div>
      <div class="footer-box">
        <h3>Opening Hours</h3>
        <p>Monday - Sunday</p>
        <p>9:00 AM - 10:00 PM</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2026 Praveen Hair Salon | All Rights Reserved</p>
    </div>
  </footer>
</body>
</html>